@inherits Umbraco.Web.Mvc.UmbracoViewPage<WillingToJoin.Web.Models.ForgotPasswordViewModel>
@using System.Web.Mvc.Html
@using Umbraco.Web
@{
    var emailRequired = Umbraco.AssignedContentItem.GetProperty("emailRequired").Value;
    var validEmailFormatText = Umbraco.AssignedContentItem.GetProperty("validEmailFormatText").Value;
}
<div class="demo-section k-content">
    @using (Html.BeginUmbracoForm("ForgotPassword", "ManageAccount", new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Umbraco.AssignedContentItem.GetProperty("formHeadingText").Value
        <div id="message" style="color:red;display:none"></div>
        <hr />

        <ul id="fieldlist">
            <li>
                <label>
                    @Umbraco.AssignedContentItem.GetProperty("emailLabel").Value
                </label>
                @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "k-textbox", @required = "", @validationMessage = @emailRequired, @data_email_msg = @validEmailFormatText })
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                <input type="submit" value="@Umbraco.AssignedContentItem.GetProperty("submitButtonText").Value" class="k-button k-primary" />
            </li>
        </ul>


    }
</div>
