@inherits Umbraco.Web.Mvc.UmbracoViewPage<WillingToJoin.Web.Models.ResetPasswordViewModel>
@using System.Web.Mvc.Html
@using Umbraco.Web;
@{
    var oldPasswordRequired = Umbraco.AssignedContentItem.GetProperty("oldPasswordRequired").Value;
    var newPasswordRequiredText = Umbraco.AssignedContentItem.GetProperty("newPasswordRequiredText").Value;
    var confirmNewPasswordRequiredText = Umbraco.AssignedContentItem.GetProperty("confirmNewPasswordRequiredText").Value;
}
<div class="demo-section k-content">
    @using (Html.BeginUmbracoForm("ResetPassword", "ManageAccount", new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Umbraco.AssignedContentItem.GetProperty("formHeadingText").Value

        <div id="message" style="color:red;display:none"></div>
        <hr />

        <ul id="fieldlist">
            <li>
                <label>
                    @Umbraco.AssignedContentItem.GetProperty("oldPasswordLabel").Value
                </label>

                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "k-textbox", @required = "", @validationMessage = @oldPasswordRequired })
                @Html.ValidationMessageFor(m => m.CurrentPassword)

            </li>
            <li>
                <label>
                    @Umbraco.AssignedContentItem.GetProperty("newPasswordLabel").Value
                </label>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "k-textbox", @required = "", @validationMessage = @newPasswordRequiredText })
                @Html.ValidationMessageFor(m => m.NewPassword)

            </li>
            <li>
                <label>
                    @Umbraco.AssignedContentItem.GetProperty("confirmNewPasswordLabel").Value
                </label>
                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "k-textbox", @required = "", @validationMessage = @confirmNewPasswordRequiredText })
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword)

            </li>
            <li class="form-group">
                <input type="submit" class="k-button k-primary" value="@Umbraco.AssignedContentItem.GetProperty("submitButtonText").Value" />
            </li>
        </ul>
    }
</div>